<div class="quizz__container">
  <div class="quizz__logo">
    <h1>RyuFeed</h1>
    <h3>{{ title }}</h3>
  </div>

  <div class="quizz__questions">
    <h3>{{ questionSelected.question }}</h3>
  </div>

  <div *ngIf='!finished' class="quizz__options">
    <button *ngFor="let option of questionSelected.options"
    (click)="playerChoice(option.alias)"
    class="btn-option">
      {{ option.name}}
    </button>

  </div>

  <div *ngIf='finished' class="quizz__results">
    <h1>O seu resultado é:</h1>
    <p>{{ answerSelected }}</p>
  </div>
</div>
